<input type="hidden" name="modulo" id="moduloEditUser" value="{{usuario.modulo}}">
<section class="registro-data">
    <div class="state"><a href="/usuario"><i class="icon-arrow-left2 positionIcon"></i></a>EDITAR USUARIO</div>
    <div class="data">
        <form action="/usuario/update/{{persona.id_persona}} {{usuario.id_usuario}}" method="post" enctype="multipart/form-data">
            <div class="data-valor1">
                <p class="description">Foto: </p>
                <input type="hidden" name="foto" value="{{persona.foto}}">
                <p><input type="file" name="image" value="{{persona.foto}}"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Nombres: </p>
                <p><input type="text" name="nombres" value="{{persona.nombres}}" required pattern="[A-Za-z\s]{3,30}" title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor2">
                <p class="description">Apellidos: </p>
                <p><input type="text" name="apellidos" value="{{persona.apellidos}}" required pattern="[A-Za-z\s]{3,30}" title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor3">
                <p class="description">edad: </p>
                <p><input type="text" name="edad" value="{{persona.edad}}" required pattern="[0-9]+" maxlength="2" title="Ingrese solo números"></p>
            </div>
            <div class="data-valor4">
                <p class="description">E-mail: </p>
                <p><input type="email" name="email" value="{{persona.email}}" required></p>
            </div>
            <div class="data-valor4">
                <p class="description">Fecha de Nacimiento: </p>
                <p><input type="date" name="fecha_nacimiento" value="{{persona.fecha_nacimiento}}" required></p>
            </div>
            <div class="data-valor4">
                <p class="description">Usuario: </p>
                <p><input type="text" name="usuario" value="{{usuario.usuario}}" required pattern="[A-Za-z0-9]+" title="Ingrese solo letras Mayúsculas, minúsculas y números sin espacios"></p>
            </div>
            <div class="data-valor4">
                <p class="description">Password: </p>
                <p><input type="checkbox" name="" id="check"></p>
                <p><input type="password" name="password" id="casillaPass" value="sinpassword" disabled></p>
            </div>

            <div class="data-valor4" id="outputEditUser"></div>

            <div class="data-boton">
                <p class="boton"><button type="submit">Modificar</button></p>
            </div>
        </form>
    </div>
</section>